<% layout("../Layout/boilerplate") %>

    <!-- Hero Start  -->

    <div class="container-fluid bg-primary py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row justify-content-center py-5">
                <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Testimonial</h1>
                    <nav aria-label="breadcrumb">
                        <p id="paragraph" style="font-weight: 600; font-size: 17px; color: white;">Customer Reviews,
                            Trusted Feedback and
                            Real Experiences...</p>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Hero End -->


    <!-- Testimonial Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center">
                <h6 class="section-title bg-white text-center text-primary px-3">Testimonial</h6>
                <h1 class="mb-5">Our Clients Say!!!</h1>
            </div>
            <div class="owl-carousel testimonial-carousel position-relative">
                <div class="testimonial-item bg-white text-center border p-4">
                    <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="/images/testimonial-1.jpg"
                        style="width: 80px; height: 80px;">
                    <h5 class="mb-0">1. Emily Carter
                    </h5>
                    <p>London, UK
                    </p>
                    <p class="mb-0">"Booking with this travel agency was the best decision I made. The personalized
                        itinerary for my Indonesia trip was perfectly tailored to my preferences, and the travel guides
                        were so knowledgeable and friendly!"</p>
                </div>
                <div class="testimonial-item bg-white text-center border p-4">
                    <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="/images/testimonial-2.jpg"
                        style="width: 80px; height: 80px;">
                    <h5 class="mb-0">2. Michael Thompson
                    </h5>
                    <p>Toronto, Canada</p>
                    <p class="mt-2 mb-0">"From the moment I chose my destination to the day I flew out, everything was
                        flawless. Their attention to detail and customer care were exceptional. I can't wait to plan my
                        next adventure with them!"</p>
                </div>
                <div class="testimonial-item bg-white text-center border p-4">
                    <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="/images/testimonial-3.jpg"
                        style="width: 80px; height: 80px;">
                    <h5 class="mb-0">3. James Anderson
                    </h5>
                    <p>Seattle, USA
                    </p>
                    <p class="mt-2 mb-0">"Booking with this travel agency was the best decision I made. The personalized
                        itinerary for my Indonesia trip was perfectly tailored to my preferences, and the travel guides
                        were so knowledgeable and friendly!"</p>
                </div>
                <div class="testimonial-item bg-white text-center border p-4">
                    <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="/images/testimonial-4.jpg"
                        style="width: 80px; height: 80px;">
                    <h5 class="mb-0">4. Olivia Brooks
                    </h5>
                    <p>Sydney, Australia
                    </p>
                    <p class="mt-2 mb-0">"I had a fantastic experience with their travel services. The hotel
                        reservations, guided tours, and 24/7 support made my trip to Malaysia absolutely unforgettable.
                        Highly recommended for any traveler!"</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->